= form_for @newsletter_form, :url => newsletters_path do |f|
  = f.error_messages
  = field_set_tag t('shoppe.newsletters.new') do
    %dl
      %dt= f.label :subject, t('shoppe.newsletters.subject')
      %dd= f.text_field :subject, :class => 'focus text'
    %dl
      %dt= f.label :message, t('shoppe.newsletters.message')
      %dd= f.text_area :message, :class => 'wysiwyg', :style => 'width: 100%'
    %dl
      %dt= f.label :emails, t('shoppe.newsletters.emails')
      %dd= f.text_area :emails, :class => 'text', :placeholder => '(optional)'
    %dl
      %dt
      %dd
        = f.submit t('shoppe.create'), :class => 'button green'
        = f.submit t('shoppe.preview'), :class => 'button', :name => 'preview', :formtarget => '_blank'