- @page_title = t('shoppe.navigation.admin_primary.newsletters')

= content_for :header do
  %h2.countries= t('shoppe.navigation.admin_primary.newsletters')

= render 'form'

.table
%table.data
  %thead
    %tr
      %th= t('shoppe.newsletters.id')
      %th= t('shoppe.newsletters.created_at')
      %th= t('shoppe.newsletters.subject')
      %th= t('shoppe.newsletters.recipients')
      %th= t('shoppe.newsletters.run_at')
      %th= t('shoppe.newsletters.finished_at')
      %th= t('shoppe.newsletters.error')
      %th
  %tbody
    - if @newsletters.empty?
      %tr.empty
        %td{:colspan => 8}= t('shoppe.newsletters.no_data')
    - else
      - for newsletter in @newsletters
        %tr
          %td= newsletter.id
          %td= newsletter.created_at.to_s(:long)
          %td= newsletter.payload_object.subject
          %td= newsletter.payload_object.emails.count
          %td= newsletter.run_at.to_s(:long)
          %td
            - if newsletter.deleted_at
              = newsletter.deleted_at.to_s(:long)
            - else
              &#8734;
          %td= newsletter.last_error || boolean_tag(false)
          %td= link_to t('shoppe.newsletters.delete'), newsletter_path(newsletter), method: :delete