= field_set_tag nil do
  %dl
    %dt= label_tag 'product_attributes[key]', t('shoppe.product_attributes.key')
    %dd= text_field_tag 'product_attributes[key]', @product_attribute.key, :class => 'text focus'
  %dl
    %dt= label_tag 'product_attributes[for_variant]',  t('shoppe.product_attributes.for_variant')
    %dd.checkbox
      = check_box_tag 'product_attributes[for_variant]', '1', @product_attribute.for_variant?
      = label_tag 'product_attributes[for_variant]', t('shoppe.product_attributes.for_variant_info')
= field_set_tag t('shoppe.product_attributes.values') do
  .margin
    %table.productAttributes.manage
      %thead
        %tr
          %td= t('shoppe.products.value')
          %td.searchable= t('shoppe.products.searchable?')
          %td.searchable= t('shoppe.products.public?')
          %td.remove= t('shoppe.products.remove')
      %tbody
        %tr.template{:style => 'display:none;'}
          %td= text_field_tag 'product_attributes_array[][value]', '', :placeholder => t('shoppe.products.value'), :class => 'attribute_value_search'
          %td.searchable= check_box_tag 'product_attributes_array[][searchable]', '1'
          %td.searchable= check_box_tag 'product_attributes_array[][public]', '1'
          %td.remove= link_to t('shoppe.remove'), '#', :class => 'button button-mini purple'
        - if @attributes.present?
          - for attribute in @attributes
            %tr
              %td
                = text_field_tag 'product_attributes_array[][value]', attribute.value, :placeholder => t('shoppe.products.value'), :class => 'attribute_value_search'
                = hidden_field_tag 'product_attributes_array[][replace_value]', attribute.value
              %td.searchable= check_box_tag 'product_attributes_array[][searchable]', '1', attribute.searchable?
              %td.searchable= check_box_tag 'product_attributes_array[][public]', '1', attribute.public?
              %td.remove= link_to t("shoppe.remove"), '#', :class => 'button button-mini purple'
    %p.addAttribute= link_to t('shoppe.products.add_value') , '#', :data => {:behavior => 'addAttributeToAttributesTable'}, :class => 'button button-mini green'