- @page_title = t('shoppe.delivery_services.delivery_services')

= content_for :header do
  %p.buttons
    = link_to t('shoppe.delivery_services.new'), :new_delivery_service, :class => 'button green'
    = link_to t('shoppe.settings.back_to_settings') , settings_path, :class => 'button'
  %h2.delivery_services= t('shoppe.delivery_services.delivery_services')

= render 'grid'