- @page_title = t('shoppe.orders.orders')

= content_for :header do
  %p.buttons
    = link_to t('shoppe.orders.new_order'), :new_order, :class => 'button green'
    = link_to t('shoppe.orders.search_orders'), '#', :class => 'button', :rel => 'searchOrders'
  %h2.orders
    = t('shoppe.orders.orders')

= render 'search_form'
= render 'grid'